# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
*.log
.vite/

# Temp
tmp-app/
bracket-app/
*.avif
*.pdf
image.png
bracket-randomizer(2).png
